---
title: Questions Answers
---

<html>

<head>
  <link rel="stylesheet" href="./assets/css/styles.css">
  <script type="text/javascript" src="./assets/js/main.js"></script>
</head>

<body>
  <h1>Data science questions / answers</h1>
  <ol>

    {% for item in site.data.questions_answers %}
    {% if item.header %}
      <h2>{{item.header}}</h2>
    {% endif %}
    <li>
      <div class="divQuestion">
        {{item.question}}
      </div>

      <button onclick="showHideAnswer()">Answer</button>

      <div class="divAnswer">
        {{item.answer}}
        {% if item.image %}
        <br>
        <img src="./assets/images/{{item.image}}" alt="not found">
        {% endif %}
      </div>

    </li>
    {% endfor %}
  </ol>

</body>

</html>