---
title: Data Science Flashcards
---

<html>

<head>
    <link rel="stylesheet" href="./assets/css/styles.css">
    <link rel="icon" type="image/png" href="./assets/images/logo.png" sizes="16x16">
    <link rel="icon" type="image/png" href="./assets/images/logo.png" sizes="32x32">
    <script type="text/javascript" src="./assets/js/main.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{ page.title }}" />
    <meta name="twitter:description"
        content="Large collection of flashcards on Data Science and Machine Learning" />
    <meta name="twitter:url" content="https://klaus78.github.io/Data-Science-Flashcards/" />
    <meta name="twitter:image" content="https://klaus78.github.io/Data-Science-Flashcards/assets/images/logo.png" />
    <meta property="og:image" content="https://klaus78.github.io/Data-Science-Flashcards/assets/images/logo.png">
</head>

<body>

    <!-- Header Area-->
    <div class="header" id="myHeader">
        <a class="header_link" href="#top">
            <h1>Data Science Flashcards</h1>
            <p style="font-size: 20px;line-height: 28px;">Expand your knowledge on <b>Data Science</b> and <b>Machine Learning</b> through this comprehensive collection of flashcards. <span><a href="https://github.com/klaus78/Data-Science-Questions-Answers"><u>Contribute</u></a></span></p> 
        </a>
    </div>
    
    <!-- Left-Menu Area -->
    <div class="left-menu">
        {% for file in site.data.sort %}
        {% for item in site.data.files.[file.topic] in %}
        
        {% if item.h2 %}
        <button class="collapsible" onclick="showHideMenus()">
            <a href="#" style="pointer-events: none; cursor: default;">{{item.h2}}</a>
        </button>
        {% endif %}
        
        {% if item.h3 %}
        <ul class="hideable_h3">
            <li>
                <a href="#{{item.h3}}" class="menu-subs">{{item.h3}}</a>
            </li>
        </ul>
        {% endif %}
        
        {% endfor %}
        {% endfor %}
    </div>
    
    <!-- Content Area -->
    <div class="content">

        <ol>

            {% for file in site.data.sort %}
            {% for item in site.data.files.[file.topic] in %}

            {% if item.h2 %}
            <h2 id="{{item.h2}}" style="margin-top: 8px;margin-bottom: 4px; background-color: aliceblue;">{{item.h2}}
            </h2>
            {% unless item.h3 %}
            {% endunless %}
            {% endif %}

            {% if item.h3 %}
            <h3 id="{{item.h3}}" style="margin-top: 8px;margin-bottom: 4px;">{{item.h3}}</h3>
            {% endif %}


            <li>

                <div class="divQuestion" onclick="showHideAnswer()">
                    {{item.question}}
                </div>

                {% if item.answer %}
                <div class="divAnswer">
                    {{item.answer}}

                    {% if item.image %}
                    <br>
                    <img src="./assets/images/{{item.image}}" alt="not found">
                    {% endif %}

                </div>
                {% endif %}


                {% if item.python %}
                <div class="divCode">
                    {% highlight python %}
                    {{item.python}}
                    {% endhighlight %}
                </div>
                {% endif %}

                {% if item.sql %}
                <div class="divCode">
                    {% highlight sql %}
                    {{item.sql}}
                    {% endhighlight %}
                </div>
                {% endif %}


            </li>
            {% endfor %}
            {% endfor %}
        </ol>
    </div>   

</body>

</html>