.divAnswer {
      width: 100%;
      text-align: left;
      background-color: lightblue;
      margin-top:5px;
      display:none;
}

.divQuestion {
      padding-top: 15px;
}

button {
      background-color: #5b82d7; 
      border: none;
      color: white;
      text-align: center;
      text-decoration: none;
      display: inline-block;
}

@media only screen and (min-width: 768px) {
      /* desktop code */
      button { padding: 8px; }
}