.divAnswer {
      width: 100%;
      text-align: left;
      background-color: #f8f8f8;
      margin-top:5px;
      padding:2px;
      border:1px solid #d8d8d8;
      display: none;
}

.divQuestion {
      padding-top: 15px;
}

button {
      background-color: #5b82d7; 
      border: none;
      cursor: pointer;
      border-radius: 2px;
      color: white;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      padding:8px;
}
button:hover {
      background-color: #4265b3;
}
button:active {
      transform: translateY(1px);
}

img {
      width: auto;
      max-width: 100%;
      height: auto;
      padding: 2px;
}



div.flex-box {
      display:flex;
      justify-content: space-between;
}